// components/Header/Header.module.scss
@use '../../app/config' as *;

.header {
  background: $bg-color;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 20;

  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .logo {
    font-size: $header-font-size;
    line-height: 1;
  }

  .navList {
    display: flex;
    gap: $space-lg;
  }

  .navLink {
    font-size: 1.6rem;
    transition: opacity $transition-base;

    &:hover {
      opacity: 0.8;
    }
  }
}
