//app/globals.scss

@use 'config' as *;

// GSAP ScrollSmoother
#smooth-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#smooth-content {
  will-change: transform;
}

// Global Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

// Base Styles
html {
  font-size: 62.5%;
  overflow-x: clip;
}

body {
  background-color: $bg-color;
  color: $light;
  font-family: $font-body;
  line-height: 1.5;
  overflow-x: hidden;
}
